<% if trains.length < 1 %>
  <em>Next train departs after 12:00 AM</em>
<% else %>

<!-- Next train -->
<p class="time next">
  <%
    if firstTrainTime.starts_with?('24:')
      tomorrow = true
      d  = "00:#{firstTrainTime.slice(3, 5)}"
    else
      d= firstTrainTime
    end
  %>

  <%
    # If Rails thinks this is the in the past, it's really just after midnight the following day
    if Time.parse(d).past?
      parsedTime = Time.parse(d) + 1.day
    else
      parsedTime = Time.parse(d)
    end
  %>

  <% if tomorrow == true %>
    <%= Time.parse("#{DateTime.now.tomorrow.to_date.strftime('%Y-%m-%d')} #{d}").strftime('%l:%M%p') %> 
  <% else %>
    <%= Time.parse(d).strftime('%l:%M%p') %>
  <% end %>

  <br /><span class="departs-in"> Departs in <%= ((parsedTime - @dateToUse) / 60).floor %> mins</span>
</p>


<!-- Upcoming Trains -->
<ul class="upcoming-trains <%= upcomingClass %>">
  <% trains.each do |t| %>
    <% if !t.nil? %>
    <% puts "#{t.inspect}\n" %>
      <li class="time <%= t[:stale] == true ? 'stale' : '' %>">
        <%
          if (t[:departure_time].slice(0, 2) == "24")
            tomorrow = true
            d = "00:#{t[:departure_time].slice(3, 5)}"
          else 
            d = t[:departure_time]
          end

          # If Rails thinks this is the in the past, it's really just after midnight the following day
          if Time.parse(d).past?
            parsedTime = Time.parse(d) + 1.day
          else
            parsedTime = Time.parse(d)
          end
        %>

        <%= parsedTime.strftime('%l:%M%p') %> <br />

        <span class="departs-in"> Departs in
        <% if tomorrow == true %>
          <%= ((Time.parse("#{DateTime.now.tomorrow.to_date.strftime('%Y-%m-%d')} #{d}") - Time.now) / 60).floor %> 
        <% else %>
          <%= ((parsedTime - @dateToUse) / 60).floor %> 
        <% end %>
        mins</span>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="navigation <%= upcomingClass %>">
  <a href="#" class="previous">&#8592; EARLIER</a> <a href="#" class="next">LATER &#8594;</a>
</div>
<% end %>
