<h2 class="station-name"><img src="/assets/pin.png" /><%= @theStation %></h2>

<div class="time-listing">
  <h3>NEXT TO<br />PHILADELPHIA<br />&larr;</h3>
  <div>
    <% @toPhiladelphia[0..2].each do |t| %>
      <p class="time">
        <%= Time.parse(t.departure_time).strftime('%l:%M%p') %><br />
        <span class="departs-in"> Departs in <%= ((Time.parse(t.departure_time) - Time.now) / 60).floor %> mins</span>
      </p>
    <% end %>
  </div>
</div>

<hr style="width: 75%; display: block; margin: 2em auto; border: 0; border-top: 1px solid #000;"/>

<div class="time-listing">
  <h3>NEXT TO<br />LINDENWOLD<br />&rarr;</h3>
  <div>
  <% @toLindenwold[0..2].each do |t| %>
    <p class="time">
      <%= Time.parse(t.departure_time).strftime('%l:%M%p') %><br />
      <span class="departs-in"> Departs in <%= ((Time.parse(t.departure_time) - Time.now) / 60).floor %> mins</span>
    </p>
  <% end %>
  </div>
</div>

<br /> <p> <a href="/" class="back-link">Back to stations</a> </p>
